<h1>StaticPages#home</h1>

<div class="center jumbotron">
    
    
  <%= link_to "sign in ", '#', class: "btn btn-lg bt-primary" %>
    
</div>
<%= link_to image_tag("centralArkansas.png", alt: "rails"), 'http://rubyonrails.org' %>
